/* Cambiar color principal */
.o_main_navbar {
    background-color: #0d6efd !important; /* azul bootstrap */
}

/* Hacer formularios tipo card */
.o_form_view {
    background: #f8f9fa;
    border-radius: 12px;
    padding: 16px;
}

/* Botones principales */
.btn {
    border-radius: 8px !important;
    padding: 8px 20px !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    border: none !important;

}
.btn-primary, .btn-outline-primary {
  background-color: #09d1ec; /* Verde farmacia */
  border: none;
}

.farmacia-form {
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
}


