/* Cambiar color principal */
.o_main_navbar , .o_menu_sections{
    background: linear-gradient(135deg, #09b3ec 0%, #0d6efd 100%) !important; 
}

/* Hacer formularios tipo card */
.o_form_view {
    background: #f8f9fa;
    border-radius: 12px;
    padding: 16px;
}

/* Botones principales */
.btn {
    border-radius: 8px !important;
    padding: 8px 20px !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    border: none !important;
    transition: all 0.3s ease !important;
   

}
.btn-primary, .btn-outline-primary {
    background: linear-gradient(135deg, #09b3ec 0%, #0d6efd 100%) !important; 
    color: white !important;
    border: none;

}
.btn-primary:hover, .btn-outline-primary:hover {
  
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 168, 150, 0.3) !important;
    border: none;

}

.farmacia-form {
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
}


