/* cambiar color de los botones */
.btn-primary {
    background-color: #3498db !important;
    border-color: #3498db !important;
}
.btn-primary:hover {
    background-color: #db3498 !important;
    border-color: #db3498 !important;
}

/* cambiar color de la barra de navegacion */
.o_main_navbar {
    background-color: #3498db !important;
    border-color: #3498db !important;
}

.o_main_navbar .o_menu_brand, .o_main_navbar .o_nav_entry, .o_main_navbar .dropdown-toggle{
    background-color: #3498db !important;
    
}